*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: EduCursive;
    src: url(/fonts/EduNSWACTCursive-VariableFont_wght.ttf);
}

:root {
    --color-secondary: #faf9f6;
}

main {
    font-family: EduCursive, cursive, 'Times New Roman', Times, serif;
    padding-inline: 0.5rem;

    section {
        display: grid;
        width: 100vw;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(12, 1fr);
        font-family: EduCursive, cursive, 'Times New Roman', Times, serif;
        padding-inline: 1rem;
    }
}

h1 {
    font-size: clamp(2rem, 10vw, 3rem);
    font-weight: 500;
}

h1, h2 {
    &::before {
        content: "[";
    } 
    &::after {
        content: ']';
    }
}

a {
    text-decoration: none;
    color: black;
}