@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter_18pt-Regular.ttf);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #F18126;
    --color-background: #F0EFED;
    /* --color-background-secondary: #1E1E1E; */
    --color-text: #000;
    --color-button-bg: #FCE1C3;
    --color-card-background: #fff;

    --text-size-display: clamp(4rem, 22vw, 11rem);
    --text-size-xl: 4rem;
    --text-size-m: 2rem;
    --text-size-s: 1rem;

    --spacing-xxl: 8rem;
    --spacing-xl: 4rem;
    --spacing-l: 3rem;
    --spacing-m: 2rem;
    --spacing-s: 2rem;
    --spacing-xs: 1rem;
    --spacing-xxs: 0.5rem;

    --border-radius-m: 1rem;
    --border-radius-s: 0.5rem;


}

body {
    font-family: Inter, arial, sans-serif;
    background-color: var(--color-background);

    interpolate-size: allow-keywords;

    font-size: var(--text-size-s);

    h1,h2 {
        text-align: center;
        text-transform: uppercase;
    }

    h2 {
        margin-block: var(--spacing-xl) var(--spacing-s);
        font-size: var(--text-size-m);
    }

    p {
        max-width: 28rem;
        line-height: 1.4;
    }

    p, h2 {
        span {
            color: var(--color-primary);
        }
    }

}

section {

    margin-inline: var(--spacing-xxs);

    @media (width > 30rem) {
        margin-inline: var(--spacing-m);
    }
}

a {
    display: block;
    width: max-content;
    padding: var(--spacing-xxs) var(--spacing-xs);
    margin-block: var(--spacing-xs);
    border-radius: var(--border-radius-s);

    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-button-bg);
    text-transform: uppercase;
    height: max-content;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-xs);

    transition: all 0.1s ease;


    &::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20 11H7.83l5.59-5.59L12 4l-8 8l8 8l1.41-1.41L7.83 13H20z'/%3E%3C/svg%3E");
        width: 1.6em;
        height: 1.6em;
        background-size: 100% 100%;
        display: block;
        flex-shrink: 0;

        rotate: 135deg;
    }

    @media (any-pointer: fine) {
        &:hover {
            scale: 1.02;
            transition: all 0.1s ease;
        }
    }
}