section:nth-of-type(1) {
    grid-column: 1/-1;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-content: center;
    height: 100dvh;

    p {
        place-self: center;
        max-width: 11rem;
        text-align: justify;
    }

    h1,
    h2 {
        font-size: var(--text-size-display);
    }

    h1 {
        animation: --left-to-right 1s ease forwards;
    }

    h2 {
        animation: --right-to-left 1s ease forwards;
        align-self: end;
        margin-block: 0;
    }
}

section.project-highlight {

    h2 {
        animation: --scroll-text linear;
        animation-timeline: view();
        animation-range-start: -10dvh;
        animation-range-end: 80vh;

        @media (width > 1200px) {

            animation-range-start: 0dvh;
            animation-range-end: 90vh;
        }
    }

    article+h2 {

        margin-block: var(--spacing-xl);
        animation-range-start: 0dvh;
        animation-range-end: 40vh;

        @media (width > 788px) {

            margin-block: var(--spacing-xxl);
        }
    }

    article {
        background-color: var(--color-card-background);
        padding: var(--spacing-xxs);
        border-radius: var(--border-radius-s);

        height: max-content;

        animation: --scroll linear;
        animation-timeline: view();
        animation-range-start: -10dvh;
        animation-range-end: 70vh;

        @media (width > 788px) {
            padding: var(--spacing-xs);
        }

        @media (width > 1200px) {

            height: 80vh;
            overflow: hidden;

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            animation-range-start: 0;
            animation-range-end: 80vh;
        }

        a {

            @media (width > 1200px) {

                justify-self: end;
                margin-block: 0;
            }

        }

        img {
            width: 100%;
            aspect-ratio: 2/1;
            object-fit: cover;
            object-position: 0% 0%;

            border-radius: var(--border-radius-s);


            @media (width > 1200px) {

                transform: translate(5%, 10%);
                grid-column: span 3;
            }
        }

        p {
            @media (width > 1200px) {
                margin-block: 0;
            }
        }

    }

    p {
        margin-block: var(--spacing-m);
    }
}



section.more-projects {

    display: flex;
    overflow-x: auto;

    &:hover {
        ul {
            animation-play-state: running;
        }
    }

    ul {
        display: flex;
        gap: var(--spacing-m);

        animation: --logo-movement 10s infinite linear;
        animation-play-state: paused;

        padding-right: var(--spacing-s);


        li {
            list-style: none;
            flex: 0 0 5rem;

            &:hover {
                img {

                    scale: 1.1;
                    cursor: pointer;
                }
            }

            img {
                width: 10rem;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }

}

@keyframes --logo-movement {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


@keyframes --left-to-right {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes --right-to-left {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes --scroll {
    0% {
        scale: 0.2;
    }

    100% {
        scale: 1;
    }
}

@keyframes --scroll-text {
    0% {
        transform: translateY(50vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes --scroll-text-smaller {
    0% {
        scale: 1;
    }

    100% {
        scale: 0;
    }
}