section:nth-of-type(1) {
    grid-column: 1/-1;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-content: center;
    height: 100dvh;

    p {
        place-self: center;
        text-align: justify;
        width: 11rem;

        span {
            color: var(--color-primary);
        }
    }

    h1,
    h2 {
        text-align: center;
        font-size: clamp(var(--text-size-l), 22vw, var(--text-size-display));
        text-transform: uppercase;
    }

    h1 {
        animation: --left-to-right 1s ease forwards;
    }

    h2 {
        animation: --right-to-left 1s ease forwards;
        align-self: end;
    }
}

section.project-highlight {
    margin-block: var(--spacing-l);
    height: 150dvh;
    position: relative;

    article {
        background-color: var(--color-card-background);
        padding: var(--spacing-xxs);
        border-radius: var(--border-radius-s);

        height: max-content;

        position: sticky;
        bottom: var(--spacing-l);

        animation: --scroll linear;
        animation-timeline: view();
        animation-range-start: 0;
        animation-range-end: 70vh;

        @media (width > 788px) {
            padding: var(--spacing-xs);
        }

        @media (width > 1200px) {

            height: 90vh;
            overflow: hidden;

            display: grid;
            grid-template-columns: repeat(3, 1fr);

            animation-range-start: 0;
        animation-range-end: 90vh;
        }

        a {

            @media (width > 1200px) {

                justify-self: end;
                margin-block: 0;
            }

        }

        img {
            width: 100%;
            aspect-ratio: 2/1;
            object-fit: cover;
            object-position: 0% 0%;

            border-radius: var(--border-radius-s);


            @media (width > 1200px) {

                transform: translate(5%, 10%);
                grid-column: span 3;
            }
        }
    }
}



@keyframes --left-to-right {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes --right-to-left {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes --scroll {
    0% {
        scale: 0.2;
    }

    100% {
        scale: 1;
    }
}